$primary-bg: #e9eff3;
$secondary-bg: #405f4b;
$primary-color: #7da86f;
$secondary-color: #916da8;
$secondary-text: #444343;
$primary-text: darken(#7da86f, 10%);

// bootstrap
$screen-xs: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;